#  Credit Scoring with Snowpark for Python Set-up Notebook
Author: Zohar Nissare-Houssen

## 1. Snowflake Trial Account

The prerequisite is to have a Snowflake account. If you do not have a Snowflake account, you can sign-up for a free 30 day [Snowflake trial](https://signup.snowflake.com/).

After signing-up for the trial, please bookmark the URL of the Snowflake account, and save your credentials as they will be needed in this lab.


This version requires Snowpark **0.4.0** or higher

## 2. Python Libraries

The following libraries are needed to run this demo. In this section, add any python library missing in your environment.

In [1]:
pip install scikit-plot

Collecting scikit-plot
  Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Requirement already satisfied: joblib>=0.10 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from scikit-plot) (1.1.0)
Requirement already satisfied: matplotlib>=1.4.0 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from scikit-plot) (3.5.2)
Requirement already satisfied: scikit-learn>=0.18 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from scikit-plot) (1.1.1)
Requirement already satisfied: scipy>=0.9 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from scikit-plot) (1.7.3)
Requirement already satisfied: packaging>=20.0 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (4.25.0)
Requirement already satisfied: numpy>=1.17 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (1.21.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from matplotlib>=1.4.0->scikit-plot) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from scikit-learn>=0.18->scikit-plot) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.0->scikit-plot) (1.16.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pyarrow==6.0.0

Collecting pyarrow==6.0.0
  Downloading pyarrow-6.0.0-cp38-cp38-win_amd64.whl (15.5 MB)
     --------------------------------------- 15.5/15.5 MB 22.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in c:\users\dobre\anaconda3\envs\myenv38\lib\site-packages (from pyarrow==6.0.0) (1.21.5)
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 8.0.0
    Uninstalling pyarrow-8.0.0:
      Successfully uninstalled pyarrow-8.0.0
Successfully installed pyarrow-6.0.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install seaborn

In [ ]:
pip install matplotlib

## 3. File Download

### 3.1 The Dataset

In [3]:
! curl -O https://raw.githubusercontent.com/zoharsan/snowpark_credit_score/main/credit_files.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  292k  100  292k    0     0   797k      0 --:--:-- --:--:-- --:--:--  801k

In [4]:
! curl -O https://raw.githubusercontent.com/zoharsan/snowpark_credit_score/main/credit_request.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  6068  100  6068    0     0  22385      0 --:--:-- --:--:-- --:--:-- 22474

### 3.2 The creds.json credential file

The file below needs to be edited with credentials of your Snowflake account and saved. It will be used to connect to Snowflake on the main Notebook:


```
{
  "account": "<account-name>",
  "user": "<user>",
  "password": "<password>",
  "warehouse": "<warehouse-name>",
  "database": "CREDIT_BANK",
  "schema": "PUBLIC"
}
```

In [5]:
! curl -O https://github.com/zoharsan/snowpark_credit_score/raw/main/creds.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0

## 4. The Database

In the section below, please fill-up the different parameters to connect to your Snowflake Environment in the cell below.

In [9]:
from snowflake.snowpark import *
from snowflake.snowpark import version
from snowflake.snowpark.functions import *

import pandas as pd
connection_parameters = {
    "account": "kb35457.eu-west-1",
    "user": "anamhuluba",
    "password": "M@maliga13",
    "warehouse": "COMPUTE_WH",
}

session = Session.builder.configs(connection_parameters).create()

session.sql("create or replace database credit_bank").collect()
session.sql("use schema credit_bank.public").collect()
print(session.sql("select current_warehouse(), current_database(), current_schema(), current_user(), current_role()").collect())

[Row(CURRENT_WAREHOUSE()='COMPUTE_WH', CURRENT_DATABASE()='CREDIT_BANK', CURRENT_SCHEMA()='PUBLIC', CURRENT_USER()='ANAMHULUBA', CURRENT_ROLE()='ACCOUNTADMIN')]

## 5. The Tables

There are 2 tables associated with this demo:

* CREDIT_FILES: This table contains currently the credit on files along with the credit standing whether the loan is being repaid or if there are actual issues with reimbursing the credit. This dataset is going to be used for historical analysis and build a machine learning model to score new applications.

* CREDIT_REQUESTS: This table contains the new credit requests that the bank needs to provide approval on based on the ML algorithm.


### 5.1 CREDIT_FILES Table

After check running the command below, log into your Snowflake environment and make sure the table was created. It should have 2.9K rows. DO NOT RUN THIS TWICE. Otherwise, it will append the rows twice making the ML model appear overfitting. If you need to rerun it, drop the table first (from the snowflake console or here following the syntax above eg ```session.sql("drop table CREDIT_FILES").collect()```

In [10]:
credit_files = pd.read_csv('credit_files.csv')
session.write_pandas(credit_files,"CREDIT_FILES",auto_create_table='True')

In [11]:
credit_df = session.table("CREDIT_FILES")
credit_df.schema

StructType([StructField('CREDIT_REQUEST_ID', LongType(), nullable=True), StructField('CREDIT_AMOUNT', LongType(), nullable=True), StructField('CREDIT_DURATION', LongType(), nullable=True), StructField('PURPOSE', StringType(), nullable=True), StructField('INSTALLMENT_COMMITMENT', LongType(), nullable=True), StructField('OTHER_PARTIES', StringType(), nullable=True), StructField('CREDIT_STANDING', StringType(), nullable=True), StructField('CREDIT_SCORE', LongType(), nullable=True), StructField('CHECKING_BALANCE', DoubleType(), nullable=True), StructField('SAVINGS_BALANCE', DoubleType(), nullable=True), StructField('EXISTING_CREDITS', LongType(), nullable=True), StructField('ASSETS', StringType(), nullable=True), StructField('HOUSING', StringType(), nullable=True), StructField('QUALIFICATION', StringType(), nullable=True), StructField('JOB_HISTORY', LongType(), nullable=True), StructField('AGE', LongType(), nullable=True), StructField('SEX', StringType(), nullable=True), StructField('MARITAL_STATUS', StringType(), nullable=True), StructField('NUM_DEPENDENTS', LongType(), nullable=True), StructField('RESIDENCE_SINCE', LongType(), nullable=True), StructField('OTHER_PAYMENT_PLANS', StringType(), nullable=True)])

In [27]:
session.sql('show tables').show()
credit_df.show(10)

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"created_on"                      |"name"        |"database_name"  |"schema_name"  |"kind"  |"comment"  |"cluster_by"  |"rows"  |"bytes"  |"owner"       |"retention_time"  |"automatic_clustering"  |"change_tracking"  |"search_optimization"  |"search_optimization_progress"  |"search_optimization_bytes"  |"is_external"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|2022-09-04 14:39:53.727000-07:00  |CREDIT_FILES  |CREDIT_BANK      |PUBLIC         |TABLE   |           |              |2940    |85504    |ACCOUNTADMIN  |1                 |OFF                     |OFF                |OFF                    |NULL                            |NULL                         |N              |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"CREDIT_REQUEST_ID"  |"CREDIT_AMOUNT"  |"CREDIT_DURATION"  |"PURPOSE"  |"INSTALLMENT_COMMITMENT"  |"OTHER_PARTIES"  |"CREDIT_STANDING"  |"CREDIT_SCORE"  |"CHECKING_BALANCE"  |"SAVINGS_BALANCE"  |"EXISTING_CREDITS"  |"ASSETS"     |"HOUSING"  |"QUALIFICATION"  |"JOB_HISTORY"  |"AGE"  |"SEX"  |"MARITAL_STATUS"  |"NUM_DEPENDENTS"  |"RESIDENCE_SINCE"  |"OTHER_PAYMENT_PLANS"  |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|147                  |8600             |6                  |Vehicle    |1                         |None             |good               |466             |-728.12             |17.0               |2                   |None         |own        |skilled          |15             |39     |F      |Married           |1                 |4                  |none                   |
|248                  |12040            |6                  |Vehicle    |4                         |None             |good               |202             |0.0                 |2443.0             |1                   |None         |rent       |skilled          |1              |35     |M      |Single            |1                 |1                  |bank                   |
|112                  |3920             |15                 |Tuition    |4                         |None             |good               |736             |4696.0              |143.0              |1                   |Investments  |rent       |skilled          |1              |23     |F      |Married           |1                 |4                  |none                   |
|222                  |12000            |12                 |Tuition    |4                         |None             |good               |732             |-25.35              |0.0                |1                   |Investments  |rent       |skilled          |3              |23     |F      |Married           |1                 |4                  |bank                   |
|162                  |10550            |18                 |Vehicle    |4                         |None             |good               |507             |0.0                 |510.0              |2                   |Investments  |own        |skilled          |1              |30     |F      |Married           |1                 |1                  |none                   |
|71                   |81330            |36                 |Vehicle    |1                         |None             |good               |670             |0.0                 |268.0              |1                   |Investments  |own        |skilled          |2              |30     |F      |Married           |1                 |2                  |bank                   |
|165                  |9090             |36                 |Vehicle    |4                         |None             |good               |704             |0.0                 |9353.54            |1                   |Investments  |own        |skilled          |16             |36     |M      |Single            |1                 |4                  |none                   |
|24                   |18040            |12                 |Vehicle    |3                         |None             |good               |352             |242.0               |1830.0             |1                   |Investments  |own        |skilled          |1              |44     |M      |Single            |1                 |4                  |none                   |
|210                  |14130            |12                 |Vehicle    |3                         |None             |good               |739             |0.0                 |14238.0            |1                   |Investments  |own        |skilled          |5              |55     |M      |Single            |1                 |2                  |none                   |
|126                  |21210            |12                 |Vehicle    |4                         |None             |good               |417             |-280.75             |185.0              |2                   |Investments  |own        |skilled          |2              |30     |M      |Single            |1                 |2                  |none                   |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [29]:
import pandas as pd
pds = credit_df.toPandas()

SnowparkFetchDataException: (1406): Failed to fetch a Pandas Dataframe. The error is: to_pandas() did not return a Pandas DataFrame. If you use session.sql(...).to_pandas(), the input query can only be a SELECT statement. Or you can use session.sql(...).collect() to get a list of Row objects for a non-SELECT statement, then convert it to a Pandas DataFrame.

### 5.2 CREDIT_REQUEST Table

After check running the command below, log into your Snowflake environment and make sure the table was created. It should have 60 rows. DO NOT RUN THIS TWICE. Otherwise, it will append the rows twice If you need to rerun it, drop the table first (from the snowflake console or here following the syntax above eg ```session.sql("drop table CREDIT_REQUESTS").collect()```

In [30]:
credit_requests = pd.read_csv('credit_request.csv')
session.write_pandas(credit_requests,"CREDIT_REQUESTS",auto_create_table='True')

In [31]:
credit_req_df = session.table("CREDIT_REQUESTS")
credit_req_df.schema

StructType([StructField('CREDIT_REQUEST_ID', LongType(), nullable=True), StructField('CREDIT_AMOUNT', LongType(), nullable=True), StructField('CREDIT_DURATION', LongType(), nullable=True), StructField('PURPOSE', StringType(), nullable=True), StructField('INSTALLMENT_COMMITMENT', LongType(), nullable=True), StructField('OTHER_PARTIES', StringType(), nullable=True), StructField('CREDIT_SCORE', LongType(), nullable=True), StructField('CHECKING_BALANCE', DoubleType(), nullable=True), StructField('SAVINGS_BALANCE', DoubleType(), nullable=True), StructField('EXISTING_CREDITS', LongType(), nullable=True), StructField('ASSETS', StringType(), nullable=True), StructField('HOUSING', StringType(), nullable=True), StructField('QUALIFICATION', StringType(), nullable=True), StructField('JOB_HISTORY', LongType(), nullable=True), StructField('AGE', LongType(), nullable=True), StructField('SEX', StringType(), nullable=True), StructField('MARITAL_STATUS', StringType(), nullable=True), StructField('NUM_DEPENDENTS', LongType(), nullable=True), StructField('RESIDENCE_SINCE', LongType(), nullable=True), StructField('OTHER_PAYMENT_PLANS', StringType(), nullable=True)])

In [32]:
credit_req_df.toPandas().head()

SnowparkFetchDataException: (1406): Failed to fetch a Pandas Dataframe. The error is: to_pandas() did not return a Pandas DataFrame. If you use session.sql(...).to_pandas(), the input query can only be a SELECT statement. Or you can use session.sql(...).collect() to get a list of Row objects for a non-SELECT statement, then convert it to a Pandas DataFrame.

In [33]:
credit_req_df.toPandas().info()

SnowparkFetchDataException: (1406): Failed to fetch a Pandas Dataframe. The error is: to_pandas() did not return a Pandas DataFrame. If you use session.sql(...).to_pandas(), the input query can only be a SELECT statement. Or you can use session.sql(...).collect() to get a list of Row objects for a non-SELECT statement, then convert it to a Pandas DataFrame.